<!-- PRUEBA ADMINISTRACIÓN NEUROPSICOLÓGICA -->
<section class="container down-footer">
        <div class="row ">
            <div class="col-12 col-md-6 mt-5 img-position">
                <h2 class="text-uppercase text-center h3 titulo borde-neuropsicologia text-white">Prueba administración neuropsicológica</h2>
                <img src="assets/img/info/servicios/prueba-administracion-neuropsicologica.jpg" alt="Prueba administración neuropsicológica" class="img-info">
            </div>
        </div>
        <div class="col-12 col-md-6 mt-5">
            <p>La evaluación neuropsicológica (también denominada evaluación neurocognitiva) es un método diagnóstico que estudia el
            funcionamiento cerebral y brinda información no provista por otros métodos de estudio, como el electroencefalograma, la
            tomografía computada o la resonancia magnética. Permite al médico y a otros profesionales comprender cómo funcionan las
            diferentes áreas y sistemas del cerebro de un paciente a través de la medición de sus capacidades cognitivas.</p>

            <h2 class="text-uppercase h3 subtitulo azul-opaco mt-5 text-center">¿Cuándo debe realizarse una evaluación neuropsicológica?</h2>
            
        </div>

        <div class="col-12 col-md-12 col-lg-6 mt-5">
            <p class="mt-1">Habitualmente se recomienda la realización de dicha evaluación neuropsicológica cuando existen síntomas o quejas
                relacionados con la memoria, la atención, o el razonamiento.</p>
    
                <p>Algunos signos que requieren una evaluación neurocognitiva son cambios en la concentración, la organización, el
                razonamiento, la memoria, el lenguaje, la percepción, la coordinación o la personalidad. El cambio puede deberse a
                cualquiera de muchas causas médicas, neurológicas, psicológicas o genéticas.
                Las pruebas o estudios serán útiles para entender la situación específica de cada paciente.</p>
        </div>
</section>