<section class="container mt-5 down-footer">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h2 class="text-uppercase text-center h3 titulo text-white borde-ppss">Protocolos de atención diferencial 2022</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-12 mt-5 justify-content-center">
                <object data="../../../../../assets/img/PPSS/protocolos-atencion-diferencial/PROTOCOLO DE ATENCION PREFERENCIAL.pdf" type="application/pdf" class="pdfview"></object>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-12 mt-5 justify-content-center">
                <object data="../../../../../assets/img/PPSS/protocolos-atencion-diferencial/Plegable Enfoque Diferencial.pdf" type="application/pdf" class="pdfview"></object>
            </div>
        </div>
    </div>
</section>

