<!-- EQUIPO HUMANO -->
<section class="container down-footer">
    <div class="row">
        <div class="col-12 col-md-6 mt-5 img-position">
            <h2 class="text-uppercase text-center h3 titulo borde-nosotros text-white">Equipo humano</h2>
            <img src="assets/img/galeria/equipo-humano.jpg" class="img-info" alt="Equipo Humano">
        </div>

        <div class="col-12 col-md-6 mt-5">
            <p>Nuestro equipo humano cuenta con una probada experiencia, formado en las mejores universidades,
               amables y responsables; dispuestos a brindar su conocimiento y atención a cada paciente
               de primera clase.</p>

            <p>Desde lo profesional trabajamos con responsabilidad y compromiso, reconociendo que nuestros pacientes
                son nuestra prioridad; somos personas capacitadas y cumplimos con todos los protocolos en nuestras consultas
                y procedimientos.
            </p>

            <p>Desde lo interpersonal reconocemos que las personas merecen ser tratadas con respeto; trabajamos con 
                honestidad y certeza conociendo que todo lo que hacemos es para brindar apoyo a los que lo requieren.
            </p>

        </div>

    </div>
    
</section>