<!-- MISIÓN & VISIÓN -->
<section class="container down-footer">
    <div class="row">
        <div class="col-12 col-md-6 mt-5 img-position">
            <h2 class="text-uppercase text-center h3 titulo borde-nosotros text-white">Misión & Visión</h2>
            <img src="assets/img/galeria/galeria2.jpg" class="img-info" alt="Misión & Visión">
        </div>

        <div class="col-12 col-md-6 mt-5">
            <h2 class="text-uppercase titulo azul">Misión</h2>
            <p> Prestar servicios de apoyo ambulatorio, diagnóstico y terapéutico
                con el más alto nivel ético, científico y técnico de manera que
                superemos las expectativas de nuestros clientes bajo los principios
                de oportunidad, calidez y confiabilidad.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-6 mt-4">
            <h2 class="text-uppercase titulo azul">Visión</h2>
            <p>Ser en el año <strong>2025</strong> empresa líder en la prestación de servicios
                de salud de apoyo ambulatorio, diagnóstico y terapéutico del
                departamento del Quindío, de tal manera que cumplamos con 
                nuestra misión.</p>
            
            <h2 class="text-uppercase titulo azul mt-5">Política de calidad</h2>
            <p>Nos comprometemos a prestar servicios de apoyo con oportunidad,
               calidez y confiabilidad, enmarcados en el cumplimiento de las
               reglamentaciones aplicables y mediante la mejora permanente de
               nuestros procesos internos.</p>
        </div>
    </div>

</section>