<div class="container mb-5 mt-2 down-footer">
    <div class="row">
        <div class="col-12 cuadro">
            <h1 class="titulo text-uppercase mt-5 mr-2 ml-4 text-white text-center">Encuesta de satisfacción de los pacientes hacia nuestra IPS</h1>
            <h3 class="mt-5 text-white mr-2 ml-4 mb-5 text-center">
                Esta encuesta nos permitirá conocer el nivel de satisfacción de nuestros pacientes y
                hará que nuestro servicio sea mejor si es necesario.
            </h3>

            <h3 class="mt-5 text-white mr-2 ml-4 mb-5 text-center">Haciendo click en el siguiente botón podrá encontrar la encuesta de 
                satisfacción.
            </h3>
        </div>
        <div class="col-12 text-center">
            <button type="button" class="btn btn-info"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeK-CNENKlMjOEgSTz0BUIyNSX9ZgQ1sp18mEwJcJEKH_SKDQ/viewform"><h2 class="text-uppercase titulo">
                Encuesta
            </h2></a> </button>
        </div>
        </div>
    </div>
