<section class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 text-center">
            <h2 class="text-uppercase h3 titulo azul-opaco">INFORMES</h2>
            <p class="text-muted">
               En esta sección podremos encontrar el conjunto de estados financieros del año <strong>2019</strong>.
            </p>
        </div>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" routerLink="/informes-resumen">2021</a></li>
            <li class="page-item"><a class="page-link" routerLink="/informes-resumen-2020">2020</a></li>
            <li class="page-item active"><a class="page-link" routerLink="/informes-resumen-2019">2019</a></li>
            <li class="page-item"><a class="page-link" routerLink="/informes-resumen-2018">2018</a></li>
            </ul>
        </nav>
    </div>
    </div>
</div>

<section class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" routerLink="/informes-resumen-2017">2017</a></li>
        <li class="page-item"><a class="page-link" routerLink="/informes-resumen-2016">2016</a></li>
        <li class="page-item"><a class="page-link" routerLink="/informes-resumen-2015">2015</a></li>
        </ul>
    </nav>
    </div>
</div>

        <!-- Cards -->
            <!-- Card Estados Financieros -->
        <section class="container space">
            <div class="row justify-md-content-center justify-content-md-center justify-content-lg-center">
            <article class="col-lg-4 col-md-6 mb-3">
                <div class="card">
                    <img src="assets/img/cards/nosotros/estados-financierosPDF.jpeg" alt="Estados Financieros">
                    <div class="card-img-overlay text-white d-flex flex-column
                                justify-content-end text-center">
                        <p class="d-none-d-md-block titulo">2019</p>
                        
                        <button class="btn btn-light px-1 text-uppercase mx-auto titulo" routerLink="/estados-financieros-2019">Saber más</button>
                    </div>
                </div>
            </article>

            <!-- Card Dictamen revisor fiscal -->
            <article class="col-lg-4 col-md-6 mb-3">
                <div class="card">
                    <img src="assets/img/cards/nosotros/revisor-fiscal.jpeg" alt="Dictamen revisor fiscal">
                    <div class="card-img-overlay text-white d-flex flex-column
                                            justify-content-end text-center">
                        <p class="d-none-d-md-block titulo">2019</p>
            
                        <button class="btn btn-light px-1 text-uppercase mx-auto titulo" routerLink="/dictamen-revisor-fiscal-2019">Saber
                            más</button>
                    </div>
                </div>  
            </article>
                <!-- Card Dictamen Revelaciones-NeuroImágenes -->

            <article class="col-lg-4 col-md-6  mb-3">
                    <div class="card">
                        <img src="assets/img/cards/nosotros/revelaciones-neuroimagenes.jpeg" alt="Dictamen revisor fiscal">
                        <div class="card-img-overlay text-white d-flex flex-column
                                                justify-content-end text-center">
                            <p class="d-none-d-md-block titulo">2019</p>
                
                            <button class="btn btn-light px-1 text-uppercase mx-auto titulo" routerLink="/revelaciones-neuroimagenes-2019">Saber
                                más</button>
                        </div>
                    </div>
            </article>

        </div>

</section>

