<!-- NEUROLOGÍA -->
<section class="container down-footer">
        <div class="row">
            <div class="col-12 col-md-6 mt-5 img-position">
                <h2 class="text-uppercase text-center h3 titulo borde-servicios text-white">Neurología</h2>
                <img src="assets/img/info/servicios/neurologia.jpg" class="img-info" alt="Neurología">
            </div>
        <div class="col-12 col-md-6 mt-5 space">
            <p>La Neurología es la especialidad médica que estudia la estructura, función y desarrollo
            del sistema nervioso (central, periférico y autónomo) y muscular en estado normal y
            patológico, utilizando todas las técnicas clínicas e instrumentales de estudio,
            diagnóstico y tratamiento actualmente en uso o que puedan desarrollarse en el futuro.</p>

            <p> La Neurología se ocupa de forma integral de la asistencia médica al enfermo
                neurológico, de la docencia en todas las materias que afectan al sistema nervioso y de
                la investigación, tanto clínica como básica, dentro de su ámbito.</p>
        </div>
    </div>
</section>