<!-- NEUROCIRUGÍA -->
<section class="container down-footer">
    <div class="row">
            <div class="col-12 col-md-6 mt-5 img-position">
                <h2 class="text-uppercase text-center h3 titulo borde-servicios text-white">Neurocirugía</h2>
                <img src="assets/img/info/servicios/neurocirugia.jpg" alt="Neurocirugía" class="img-info">
        </div>
        <div class="col-12 col-md-6 mt-5 space">
            <p>La Neurocirugía es la ciencia médica que estudia las enfermedades que afectan al sistema nervioso que requieren o pueden
            requerir un tratamiento quirúrgico en algún momento de su evolución. Por tanto, tiene una conexión muy estrecha con la
            Neurología, puesto que muchas de las enfermedades a estudiar y tratar
            son comunes para ambas especialidades.</p>

            <p> El tratamiento quirúrgico se realiza en lugares muy específicos del hospital, requiriendo una infraestructura de
                quirófanos, anestesia y reanimación, así como unidades de cuidados intensivos, que son también compartidas con otras
                especialidades quirúrgicas y médicas. Pero además, precisa de otros recursos humanos e infraestructura hospitalaria
                que los aportan otras especialidades o
                subespecialidades en relación con el sistema nervioso. Todas juntas forman el grupo de las Neurociencias Clínicas.
            </p>
        </div>
    </div>
</section>

