<!-- INFORME DICTAMEN REVISOR FISCAL -->
<section class="container space">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mt-5 ">
            <h2 class="text-uppercase text-center h3 titulo borde-informes text-white">Dictamen revisor fiscal 2021</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-12 mt-5 justify-content-center">
                <object data="../../../../../../assets/img/INFORMES/2021/INFORME_DE_REVISORIA_FISCAL.pdf" type="application/pdf"
                    class="pdfview"></object>
            </div>
        </div>
    </div>
</section>