<!-- POTENCIALES EVOCADOS -->
<section class="container down-footer">
        <div class="row">
        <div class="col-12 mt-5">
            <h2 class="text-uppercase text-center h1 titulo borde-examenes text-white">Test de lambert</h2>
            <p class="h3">El síndrome de Lambert-Eaton (SLE) es un trastorno poco frecuente en el cual la comunicación defectuosa entre los
            nervios y los músculos lleva a que se presente debilidad muscular.</p>

            <h2 class="text-uppercase text-center h1 subtitulo mt-4 azul-opaco">Causas</h2>
            <ul class="h3">
                <li>El SLE es un trastorno autoinmunitario. Esto quiere decir que su sistema inmunitario ataca por error a células y tejidos
                sanos en el cuerpo. Con el SLE, los anticuerpos producidos por el sistema inmunitario atacan las neuronas. Esto las hace
                incapaces de liberar suficiente cantidad de un químico llamado acetilcolina. Este químico transmite impulsos entre los
                nervios y los músculos. El resultado es la debilidad muscular.</li>

                <li>El SLE puede ocurrir con cánceres como el cáncer pulmonar de células pequeñas o trastornos autoinmunitarios, como el
                vitiligo, el cual lleva a una pérdida del pigmento de la piel.</li>

                <li>El SLE afecta a más hombres que mujeres. La edad común de ocurrencia es alrededor de los 60 años. SLE es poco frecuente
                en niños.</li>
            </ul>
        </div>
    </div>

</section>