<!-- RESUMEN DE SERVICIOS EMPRESARIALES -->
<section class="container" id="container">
    <div class="row justify-content-md-center">
        <div class="col-12 text-center">
            <h2 class="text-uppercase h3 titulo azul-opaco">Nuestros servicios</h2>
            <p class="text-muted">Contamos con diferentes servicios que pueden
                ayudar a las personas que los requieran, estos se clasifican 
                en Consultas, Exámenes y demás...
            </p>
        </div>

        <!-- Cards -->
            <!-- Card CONSULTAS -->
            <article class="col-lg-4 col-md-6 card-effect mb-3">
                <div class="card">
                    <img src="assets/img/cards/servicios/consultas.jpeg" alt="Consultas" class="card-img card-img-filter">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                        <p class="d-none d-md-block">A continuación encontraremos el tipo de consultas que existen en nuestra IPS y
                             sus conceptos prácticos de entender, entre ellos: Neurología...</p>
                        <button class="btn btn-light px-1 text-capitalize mx-auto titulo" routerLink="/consultas-resumen">Saber más</button>
                    </div>
                </div>
            </article>

            <!-- Card EXÁMENES -->
            <article class="col-lg-4 col-md-6 card-effect mb-3 mb-md-0">
                <div class="card">
                    <img src="assets/img/cards/servicios/examenes.jpeg" alt="Exámenes" class="card-img card-img-filter">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                        <p class="d-none d-md-block">
                            Un examen nos permite tener un diagnóstico más amplio de lo que sucede en nuestro cuerpo.
                            Somos una de las IPSs en el Quindío...</p>
                        <button class="btn btn-light px-1 text-capitalize mx-auto titulo" routerLink="/examenes-resumen">Saber más</button>
                    </div>
                </div>
            </article>
    </div>
</section>
