<!-- EXÁMENES RESUMEN -->
<section class="container down-footer">
    <div class="row justify-content-md-center">
        <div class="col-12 text-center">
            <h2 class="text-uppercase h3 titulo azul-opaco">Exámenes</h2>
            <p>Un examen nos permite tener un diagnóstico más amplio de 
               lo que sucede en nuestro cuerpo. Somos una de las IPSs 
               en el Quindío que pueden realizar
               los siguientes exámenes:
            </p>
        </div>
    </div>

    <!-- Cards -->
        <div class="container justify-content-md-center mt-5">
            <div class="row">

                <!-- Card Polisomnografía -->
                <article class="col-lg-4 col-md-6 mb-3 mb-md 0">
                    <div class="card">
                        <img src="assets/img/cards/servicios/polisomnografia-servicio.jpeg" alt="Polisomnografía">
                        <button routerLink="/polisomnografia" class="btn btn-light px-1 titulo text-uppercase">Saber más</button>
                    </div>
                </article>

                <!-- Card Electroencefalograma -->
                <article class="col-lg-4 col-md-6 mb-3 mb-md 0">
                    <div class="card">
                        <img src="assets/img/cards/servicios/electroencefalograma-servicio.jpeg" alt="Electromiografía + Neuroconducción">
                        <button routerLink="/electroencefalograma" class="btn btn-light px-1 titulo text-uppercase">Saber más</button>
                    </div>
                </article>

                <!-- Card Videotelemetría-->
                <article class="col-lg-4 col-md-6 mb-3 mb-md 0">
                    <div class="card">
                        <img src="assets/img/cards/servicios/videotelemetria-servicio.jpeg" alt="Electromiografía + Neuroconducción">
                        <button routerLink="/videotelemetria" class="btn btn-light px-1 titulo text-uppercase">Saber más</button>
                    </div>
                </article>

        <!-- Card Electromiografía + Neuroconducción -->
                <article class="col-lg-4 col-md-6 mb-3 mb-md 0">
                    <div class="card">
                        <img src="assets/img/cards/servicios/electromiografia-neuroconduccion.jpeg" alt="Electromiografía + Neuroconducción">
                        <button routerLink="/examen-electromiografia-neuroconduccion" class="btn btn-light px-1 titulo text-uppercase">Saber más</button>
                    </div>
                </article>
       

        <!-- Card Potenciales evocados -->
                <article class="col-lg-4 col-md-6 mb-3 mb-md 0">
                    <div class="card">
                        <img src="assets/img/cards/servicios/potenciales-evocados.jpeg"
                            alt="Potenciales evocados">
                        <button routerLink="/examen-potenciales-evocados" class="btn btn-light px-1 titulo text-uppercase">Saber más</button>
                    </div>
                </article>

        <!-- Card Electromiografía + Neuroconducción -->
                <article class="col-lg-4 col-md-6 mb-3 mb-md 0">
                    <div class="card">
                        <img src="assets/img/cards/servicios/test-lambert.jpeg"
                            alt="Test de Lambert">
                        <button routerLink="/examen-test-lambert" class="btn btn-light px-1 titulo text-uppercase">Saber más</button>
                    </div>
                </article>
            </div>
            </div>
</section>



