<!-- POLISOMNOGRAFÍA -->
<section class="container down-footer">
        <div class="row">
            <div class="col-12 col-md-6 mt-5 img-position">
                <h2 class="text-uppercase text-center h3 titulo borde-servicios text-white">Polisomnografía</h2>
                <img src="assets/img/info/servicios/polisomnografia.jpg" alt="Videotelemetría" class="img-info">
            </div>
        </div>
        <div class="col-12 col-md-6 mt-5">
            <p>La polisomnografía, también llamada estudio del sueño, es una prueba integral utilizada para diagnosticar trastornos del
            sueño. La polisomnografía registra las ondas cerebrales, los niveles de oxígeno en la sangre, la frecuencia cardíaca y
            respiratoria, así como los movimientos de los ojos y las piernas durante el estudio.</p>

            <p>La polisomnografía se puede realizar en una unidad de trastornos del sueño, dentro de un hospital o en un centro del
            sueño. Si bien, por lo general, se realiza por la noche, la polisomnografía se realiza ocasionalmente durante el día
            para adaptarse a los trabajadores por turnos que habitualmente duermen durante el día.</p>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <p>Además de ayudar a diagnosticar los trastornos del sueño, la polisomnografía se puede usar para iniciar o ajustar tu
            plan de tratamiento si ya tienes un diagnóstico de trastorno del sueño.</p>    
        
            <p> A veces, es posible que puedas hacer el estudio del sueño en el hogar. Las pruebas de apnea del sueño en el hogar
                utilizan una cantidad limitada de sensores para centrarse principalmente en el diagnóstico de la apnea obstructiva
                del sueño. </p>
        </div>
</section>
