<!-- CONSULTAS RESUMEN -->
<section class="container down-footer">
    <div class="row justify-content-md-center">
        <div class="col-12 text-center">
            <h2 class="text-uppercase h3 titulo azul-opaco">Consultas</h2>
            <p>A continuación encontraremos el tipo de consultas que existen en 
               nuestra IPS y sus conceptos fáciles de entender, entre ellos:
               Neurología, Neurocirugía, Neuropsicología, etcétera... 
            </p>
        </div>
    </div>

    <!-- Cards -->
        <!-- Card Neurología -->
        <div class="container justify-content-md-center mt-5">
        <div class="row">
            <article class="col-lg-4 col-md-4 mb-3 mb-md-0">
                <div class="card">
                    <img src="assets/img/card-icons//neurologia.png" alt="Neurología">
                    <button routerLink="/neurologia" class="btn btn-light px-1 titulo text-uppercase">Neurología</button>
                </div>
            </article>
        

        <!-- Card Neurocirugía -->
            <article class="col-lg-4 col-md-4 mb-3 mb-md-3">
                <div class="card">
                    <img src="assets/img/card-icons/neurocirugia.png" alt="Neurocirugía">
                    <button routerLink="/neurocirugia" class="btn btn-light px-1 titulo text-uppercase">Neurocirugía</button>
                </div>
            </article>

        <!-- Card Neuropsicología -->
            <article class="col-lg-4 col-md-4 mb-3">
                <div class="card">
                    <img src="assets/img/card-icons/neuropsicologia.png" alt="Neuropsicología">
                    <button routerLink="/neuropsicologia-resumen" class="btn btn-light px-1 titulo text-uppercase">Neuropsicología</button>
                </div>
            </article>

        <div class="container">
        <!-- Card Fisiatría -->
            <div class="row d-flex justify-content-center">
            <article class="col-12 col-lg-4 col-md-4 mb-3 mb-md-0 ">
                <div class="card">
                    <img src="assets/img/card-icons/fisiatría.png" alt="Fisiatría">
                    <button routerLink="/fisiatria" class="btn btn-light px-1 titulo text-uppercase">Fisiatría</button>
                </div>
            </article>

        <!-- Card Neuropediatría -->
            <article class="col-12 col-lg-4 col-md-4 mb-3 mb-md-5">
                <div class="card">
                    <img src="assets/img/card-icons/neuropediatría.png" alt="Neuropediatría">
                    <button routerLink="/neuropediatria" class="btn btn-light px-1 titulo text-uppercase">Neuropediatría</button>
                </div>
            </article>
            </div>
            </div>
        </div>
    </div>
</section>