<!-- ELECTROMIOGRAFÍA + NEUROCONDUCCIÓN -->
<section class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-12 col-sm-6 mt-5 img-position">
            <h2 class="text-uppercase text-center h3 titulo borde-examenes text-white">Electromiografía & Neuroconducción</h2>
            <img src="assets/img/info/servicios/electromiografia.jpg" alt="Electromiografía + Neuroconducción" class="img-info">
            </div>
            <div class="col-lg-6 col-md-6">
                <h2 class="text-uppercase text-center h3 subtitulo mt-5 azul-opaco">¿Qué es la electromiografía (EMG) y los estudios de conducción nerviosa?</h2>
                <p>
                La electromiografía (EMG) y los estudios de conducción nerviosa son pruebas que miden la actividad eléctrica de los
                músculos y nervios. Los nervios envían señales eléctricas para que los músculos reaccionen de ciertas maneras. Cuando
                reaccionan, emiten señales que pueden medirse.</p>

            </div>
        </div>

        <div class="row justify-content-start">
        <div class="col-12 col-md-12 col-lg-6">
            <p>La EMG examina las señales eléctricas de los músculos cuando están en reposo y cuando están trabajando
                Los estudios de conducción nerviosa miden la rapidez y la eficacia con que las señales eléctricas del cuerpo se
                transmiten por los nervios. La EMG y los estudios de conducción nerviosa permiten saber si usted tiene un problema
                muscular, nervioso o de ambos tipos. Estas pruebas se pueden hacer por separado pero generalmente se hacen al mismo tiempo.</p>

             <p class="subtitulo azul-opaco">Nombres alternativos: Estudio electrodiagnóstico, prueba de EMG, electromiograma, velocidad de conducción nerviosa, VCN</p>
        </div>
    </div>

        <div class="row justify-content-start">
        <div class="col-12 col-md-12 col-lg-6">
            <h2 class="text-uppercase text-center h3 subtitulo mt-5 azul-opaco">¿Para qué se usa?</h2>
            <p>
                La EMG y los estudios de conducción nerviosa se usan para diagnosticar una variedad de problemas musculares y
                nerviosos.
                La EMG permite saber si los músculos responden correctamente a las señales nerviosas. Los estudios de conducción
                nerviosa diagnostican daño o enfermedad de los nervios. Cuando la EMG y los estudios de conducción nerviosa se hacen
                al
                mismo tiempo, ayudan a saber si la causa de los síntomas es un problema muscular o nervioso.
            </p>
        </div>
    </div>

        <div class="row justify-content-end">
            <div class="col-12 col-md-12 col-lg-6">
                <h2 class="text-uppercase text-center h3 subtitulo mt-5 azul-opaco">¿Por qué necesito una EMG y un estudio de conducción nerviosa?</h2>
                <p> Usted podría necesitar estas pruebas si tiene síntomas de un problema muscular o nervioso, como:</p>
                <ul>
                    <li>Debilidad muscular</li>
                    <li>Hormigueo o entumecimiento en brazos, piernas, manos, pies o cara</li>
                    <li>Calambres, espasmos o contracciones musculares</li>
                    <li>Parálisis de cualquier músculo</li>
                </ul>
            </div>
        </div>
        
        <div class="row justify-content-start">
        <div class="col-12 col-md-12 col-lg-6">
            <h2 class="text-uppercase text-center h3 subtitulo mt-5 azul-opaco">¿Debo hacer algo para prepararme para estas pruebas?</h2>
            <ul>
                <li>Dígale a su médico si tiene un marcapasos o un desfibrilador cardíaco. Si tiene uno de estos dispositivos, debe tomar
                medidas especiales antes de la prueba.</li>
                <li>Use ropa suelta y cómoda que permita un fácil acceso a la zona de prueba o que pueda quitarse fácilmente si necesita
                ponerse una bata de hospital.</li>
                <li>Asegúrese de que su piel esté limpia. Por un día o dos antes del examen, no use lociones, cremas ni perfumes.</li>
            </ul>
        </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-12 col-md-12 col-lg-6">
                <h2 class="text-uppercase text-center h3 subtitulo mt-5 azul-opaco">¿Tienen algún riesgo estas pruebas?</h2>
                <p>Durante una EMG, tal vez sienta algo de dolor o calambres. Durante un estudio de conducción nerviosa tal vez sienta un
                poco de cosquilleo, como una descarga eléctrica leve.</p>
            </div>
        </div>

        <div class="row justify-content-start">
            <div class="col-12 col-md-12">
                <h2 class="text-uppercase text-center h3 subtitulo mt-5 azul-opaco">¿Qué significan los
                    resultados?</h2>
                
                <p class="subtitulo">Si sus resultados no son normales, eso puede indicar una variedad de afecciones.
                    Dependiendo de los músculos o nervios
                    afectados, puede tratarse de:</p>
                <ul>
                    <li class="mb-5">
                        <p class="subtitulo azul">Síndrome del túnel carpiano:</p>Afecta los nervios de la mano y el brazo. Por
                        lo general no es serio, pero puede ser
                        doloroso
                    </li>
        
                    <li class="mb-5">
                        <p class="subtitulo azul">Hernia de disco:</p>Ocurre cuando uno de los discos que forman la columna
                        vertebral se daña. Esto ejerce presión sobre la
                        columna y causa dolor y entumecimiento
                    </li>
        
                    <li class="mb-5">
                        <p class="subtitulo azul">Síndrome de Guillain-Barré:</p>Trastorno autoinmunitario que afecta los
                        nervios. Puede llevar a entumecimiento, hormigueo y
                        parálisis. La mayoría de las personas se recuperan después de recibir tratamiento.
                    </li>
        
                    <li class="mb-5">
                        <p class="subtitulo azul">Miastenia grave:</p>Trastorno poco común que causa fatiga muscular y
                        debilidad.
                    </li>
        
                    <li class="mb-5">
                        <p class="subtitulo azul">Distrofia muscular:</p>Enfermedad hereditaria que afecta gravemente la
                        estructura y el funcionamiento muscular
                    </li>
        
                    <li class="mb-5">
                        <p class="subtitulo azul">Enfermedad de Charcot-Marie-Tooth:</p>Enfermedad de Charcot-Marie-Tooth:
                        Trastorno hereditario que causa daño a los nervios, principalmente de los brazos y
                        las piernas.
                    </li>
        
                    <li class="mb-5">
                        <p class="subtitulo azul">Esclerosis lateral amiotrófica (ELA):</p>También conocida como enfermedad de
                        Lou Gehrig o ALS, por sus siglas en inglés. Es
                        un trastorno progresivo y últimamente fatal que ataca las células nerviosas del cerebro y la médula
                        espinal. Afecta
                        todos los músculos que se usan para moverse, hablar, comer y respirar.
                    </li>
        
                </ul>
            </div>
        </div>
</section>