<!-- VIDEOTELEMETRÍA-->
<section class="container down-footer">
    <div class="row">
        <div class="col-12 col-md-6 mt-5 img-position">
            <h2 class="text-uppercase text-center h3 titulo borde-servicios text-white">Videotelemetría</h2>
            <img src="assets/img/info/servicios/videotelemetria.jpg" alt="Videotelemetría" class="img-info">
        </div>
    </div>
    <div class="col-12 col-md-6 mt-5">
        <p>La videotelemetría es un estudio electroencefalográfico prolongado, siendo determinado el tiempo de
        realización por el médico neurólogo o especialista tratante, durante el tiempo estimado de estudio se
        realize un registro continuo de la actividad eléctrica cerebral y filmación durante el tiempo del examen.
        Este procedimiento por lo general se realiza a pacientes con cuadros de epilepsia de difícil manejo y en
        el cual no se ha logrado observa en EEG convencional anomalías, con estudio se realiza igualmente las
        activaciones de hiperventilación y fotoestimulación</p>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <p>El objetivo principal es identificar y documentar las crisis convulsivas, permitiendo la localización del foco
            epileptogénico, es decir, el sitio del cerebro donde se inician las colvosiones, al mismo tiempo que se
            registra el comportamiento clínico del paciente.</p>
    </div>
</section>
