<section class="container mt-5">
    <div class="row" id="mini-about-us">
        <div class="col-lg-6 col-md-12 medium-hover-green">
             <a href="/quienes-somos" class="non-style"> <h1 class="text-uppercase h4 titulo azul ">Sobre nosotros</h1> </a>
            <p>
                Somos una IPS prestadora de servicios de salud, nos caracterizamos por trabajar
                con amabilidad y servicio en todos nuestros ámbitos. Para nosotros es muy importante
                el factor humano, obteniendo siempre buenas reseñas de quienes reciben nuestros servicios.
            </p>

            <p>
                Nuestro objetivo principal es lograr una permanente mejora en nuestras actividades
                a fin de dar un servicio que asegure una atención oportuna, amable y de
                alta calidad. El cumplimiento de las pautas mencionadas obliga a un estricto
                cumplimiento del manual de garantía calidad y procedimientos a fin de lograr
                como meta final una satisfacción plena de sus pacientes.
            </p>
        </div>

        <div class="col-lg-6 col-md-12">
            <img src="assets/img/galeria/quienes-somos.jpg" alt="¿Quiénes somos?" class="card-img card-img-filter personal-foto">
        </div>
        

    </div>

</section>





