<!-- PRUEBA COGNITIVA -->
<section class="container down-footer">
        <div class="row">
            <div class="col-12 -col-md-6 mt-5 img-position">
                <h2 class="text-uppercase text-center h3 titulo borde-neuropsicologia text-white">Prueba cognitiva</h2>
                <img src="assets/img/info/servicios/prueba-cognitiva.jpg" alt="Prueba Cognitiva" class="img-info">
            </div>
        </div>
        <div class="col-12 col-md-6 mt-5">
            <p>Las pruebas cognitivas se utilizan para saber si hay problemas con la cognición. La cognición es una combinación de
            procesos cerebrales que intervienen en todos los aspectos de la vida, como el pensamiento, la memoria, el lenguaje, el
            juicio y la capacidad de aprender cosas nuevas. Los problemas con la cognición se conocen como deterioros cognitivos.
            Varían de leves a graves.</p>
        </div>

        <div class="col-12 col-md-12 col-lg-6">
            <p>Los deterioros cognitivos tienen muchas causas, por ejemplo, efectos secundarios de los medicamentos, enfermedades de
                los vasos sanguíneos, depresión y demencia. Demencia significa pérdida grave de una función mental. La enfermedad de
                Alzheimer es el tipo de demencia más común.</p>
        </div>
</section>
