<!-- ELECTROENCEFALOGRAMA -->
<section class="container down-footer">
        <div class="row d-flex ">
            <div class="col-12 col-md-6 col-sm-12 mt-5 img-position">
                <h3 class="text-uppercase text-center h3 titulo borde-servicios text-white">Electroencefalograma</h3>
                <img src="assets/img/info/servicios/electroencefalograma.jpg" alt="Videotelemetría" class="img-info">
            </div>
        
        <div class="col-12 col-md-6 mt-5">
            <p>Un electroencefalograma es una prueba que detecta la actividad eléctrica del cerebro mediante pequeños discos metálicos
            (electrodos) fijados sobre el cuero cabelludo. Las neuronas cerebrales se comunican a través de impulsos eléctricos y
            están activas todo el tiempo, incluso mientras duermes. Esta actividad se manifiesta como líneas onduladas en un
            registro de electroencefalograma.</p>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-12 col-md-12 col-lg-6">
            <p>Un electroencefalograma es uno de los estudios principales para diagnosticar la epilepsia. Un electroencefalograma
                también puede cumplir una función en el diagnóstico de otros trastornos cerebrales.</p>
        </div>
    </div>
</section>