<!-- POTENCIALES EVOCADOS -->
<section class="container down-footer">
        <div class="row">
        <div class="col-12 mt-5">
            <h2 class="text-uppercase text-center h1 titulo borde-examenes text-white">Potenciales evocados</h2>
            <p class="h3">Los potenciales evocados son técnicas diagnósticas que, mediante estímulos sensitivos (visuales, auditivos o táctiles
            eléctricos) y el registro de las respuestas cerebrales que éstos provocan, valoran la integridad de las vías sensitivas
            estimuladas. Para valorar estas respuestas, hay que dar varios cientos de estímulos y promediar los resultados.</p>

            <p class="h3">Si el estímulo visual, auditivo o la sensación eléctrica, no produce la onda esperable en el tiempo y lugar adecuados,
            quiere decir que hay alguna interrupción de esa vía nerviosa y, por lo tanto, ese dato hará pensar en un tipo preciso de
            enfermedad.</p>
        </div>
    </div>
</section>
