<!-- Service Card -->
<section container >
    <div class="d-flex text-uppercase d-lg-block div-color justify-content-md-center">
        <h3 class="titulo ml-5 azul-opaco position-services">Servicios destacados</h3>
    </div>
</section>

    <div class="container justify-content-md-center mt-5">
        <div class="row">
                <!-- Card Polisomnografía -->
                <article class="col-lg-4 col-md-4 mb-3 mb-md-0">
                    <div class="card">
                        <img loading="lazy" src="assets/img/cards/servicios/polisomnografia-servicio.jpeg" alt="Polisomnografía">
                        <button routerLink="/polisomnografia" class="btn btn-info px-1 titulo text-uppercase">Saber más</button>
                    </div>
                </article>

                <!-- Card Electroencefalograma -->
                <article class="col-lg-4 col-md-4 mb-3 mb-md-3">
                    <div class="card">
                        <img src="assets/img/cards/servicios/electroencefalograma-servicio.jpeg" alt="Electromiografía + Neuroconducción">
                        <button routerLink="/electroencefalograma" class="btn btn-info px-1 titulo text-uppercase">Saber más</button>
                    </div>
                </article>

                <!-- Card Videotelemetría-->
                <article class="col-lg-4 col-md-4 mb-3 mb-md-3">
                    <div class="card">
                        <img src="assets/img/cards/servicios/videotelemetria-servicio.jpeg" alt="Electromiografía + Neuroconducción">
                        <button routerLink="/videotelemetria" class="btn btn-info px-1 titulo text-uppercase">Saber más</button>
                    </div>
                </article>
        </div>

    </div>

    <section container>
        <div class="text-center text-uppercase mt-5 mb-5 design">
            <h1 class="titulo azul-opaco">{{ users }}</h1>
            <h2 class="titulo azul-opaco">¡Gracias por visitarnos!</h2>
        </div>
    </section>
