<section class="container down-footer">
        <div class="row">
            <div class="col-12 col-md-6 mt-5 img-position">
                <h2 class="text-uppercase text-center h3 titulo borde-neuropsicologia text-white">Prueba Inteligencia</h2>
                    <img src="assets/img/info/servicios/prueba-inteligencia.png" alt="Prueba Inteligencia" class="img-info">

            </div>
        </div>
        <div class="col-12 col-md-6 mt-5">
            <p>Los test de inteligencia (también conocidos como test de coeficiente intelectual, test de C.I. o I.Q. test)
               intentan medir la inteligencia a través de una medición estimativa del coeficiente intelectual.

                La noción de inteligencia hace referencia a saber escoger las mejores opciones disponibles para solucionar un problema.
                Por eso está relacionada con la capacidad de asimilar, entender y elaborar información para utilizarla en forma adecuada.
            </p>

                <p>Existen distintos tipos de inteligencia, como la inteligencia psicológica,
                    la inteligencia biológica y la inteligencia operativa, entre otras.
                    Por lo tanto, los especialistas han desarrollado distintos tipos de test de inteligencia,
                    con la intención de medir los diversos aspectos de la misma.
                </p>
        </div>

        <div class="col-12 col-md-12 col-lg-6">
            <p>En cuanto al coeficiente intelectual o cociente intelectual (C.I. o I.Q., según el término inglés intelligence quotient),
                se trata de un número que permite calificar las habilidades cognitivas de un sujeto en relación con su grupo de edad.
           </p>
            <p>Múltiples son los test de inteligencia que podemos encontrar para medir el coeficiente intelectual
                y ellos se componen de una serie de ejercicios y pruebas que sirven para poder establecer el mismo.
                En concreto, podemos determinar que, por regla general, las actividades que forman parte de aquellos
                son las de comprensión verbal, memoria de cifras, semejanzas, cubos, ensamblaje de objetos o complementos
                de imagen. 
            </p>
        </div>
</section>