<!-- Cards -->
<section class="container mt-5">
    <div class="row justify-content-md-center">
        <!-- Texts -->
        <div class="col-12 text-center ">
            <h2 class="text-uppercase h3 titulo azul">Resumen</h2>
            <h3 class="subtitulo">Conócenos...</h3>
            <!--<p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi temporibus, mollitia id amet accusantium aperiam cupiditate exercitationem facilis magni quam deserunt suscipit eligendi alias, dolorum incidunt reiciendis impedit quidem ratione!
            </p>-->
        </div>
                
        <!-- Cards -->
            <!-- Card #1 -->
            <article class="col-lg-4 col-md-6 card-effect mb-3 mb-md-0 small-hover-green">
            <div class="card ">
                <img src="assets/img/instalaciones.jpeg" alt="Instalaciones" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <h4>Instalaciones</h4>
                    <p>Nuestro centro cuenta con una infraestructura especialmente diseñada para otorgar a cada paciente la seguridad, comodidad y tranquilidad. Nuestra edificación cumple con las normas de sismo resistencia.</p>
                    <a routerLink="/instalaciones" class="text-reset">Saber más</a>
                </div>
            </div>
            </article>

            <!-- Card #2 -->
            <article class="col-lg-4 col-md-6 card-effect mb-3 mb-md-0 small-hover-blue">
            <div class="card">
                <img src="assets/img/mision-vision.jpg" alt="Hiking" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <h4>Misión & Visión</h4>
                    <p>Tenemos un programa de garantía de Calidad dentro del cual se establece indicadores de calidad como la oportunidad para
                    cada servicio.</p>
                    <a routerLink="/mision-vision" class="text-reset">Saber más</a>
                </div>
            </div>
            </article>

            <!-- Card #3 -->
            <article class="col-lg-4 col-md-6 card-effect mt-md-4 mt-lg-0 small-hover-green">
                    <div class="card">
                        <img src="assets/img/equipo-humano.jpg" alt="Camping" class="card-img card-img-filter">
                        <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                            <h4>Equipo Humano</h4>
                            <p>Contamos con un excelente grupo de profesionales, 
                             acreditados ante el Instituto Seccional de Salud del
                             Quindío, con amplio entrenamiento en distintas instituciones
                             médicas del país.</p>
                            <a routerLink="/equipo-humano" class="text-reset">Saber más</a>
                        </div>
                    </div>
            </article>
    </div>
</section>