<!-- Articles -->
<section class="container">
    <div class="row">
        <!-- Titles -->
        <div class="col-12 mt-5">
            <h3 class="azul subtitulo text-uppercase h3 title">últimas noticias</h3>
            <h2 class="mb-5 title">Nuestras publicaciones</h2>
        </div>
        <!-- Media Object #1-->
        <ul class="col-12 col-md-6">
            <li class="media">
                <div class="media-body">
                    <h5 class="h3">
                    <h2 class="text-center"><strong>Estudio De Sueño o Polisomnografia</strong></h2>
                    </h5>
                    <p>
                        Es una evaluación del sueño que mide muchas variables de manera simultánea, no solamente variables neurológicas sino
                        respiratorias, cardiacas e incluso disfunción eréctil.
                        Existen muchas enfermedades originadas en trastorno del sueño o agravadas por dichas patologías, dificultando el control
                        exitoso de enfermedades como: Hipertensión, Diabetes, Depresión, EPOC.
                        Su principal importancia radica en resolver problemas de salud que se presentan en un tercio del tiempo total de vida
                        (tiempo de sueño), debido a que habitualmente durante la consulta se evalúan posibles problemas del sueño..
                    </p>
                </div>
            </li>
        </ul>
        <!-- Media Object #2-->
        <ul class="col-12 col-md-6">
        <li class="media">
            <div class="media-body">
                <h5 class="h3">
                <h2 class="text-center"><strong>Patologías más frecuentes en el Sueño</strong></h2>
                </h5>
                <p>
                    Insomnio de reconciliación: se caracteriza por la dificultad para conciliar el sueño después de haber dormido unas pocas
                    horas.
                    Síndrome de apnea hipopnea obstructiva de sueño (sahos caracterizado por obstrucción de la vía aérea superior durante el
                    sueño. Los síntomas frecuentes son el ronquido y las pausas respiratorias durante el sueño y durante el día siguiente
                    aparece como consecuencia excesiva somnolencia o letargia.
                    Síndrome de piernas inquietas y movimientos periódicos de las piernas: Esta afección se caracteriza por la sensación de
                    molestia, fastidio, hormigueo, quemazón, ardor o incluso dolor en los miembros inferiores, principalmente en los muslos
                    que se incrementa con la quietud.
                </p>
            </div>
        </li>
    </ul>
    </div>
</section>