<!-- NEUROPEDIATRÍA -->
<section class="container down-footer">
        <div class="row">
            <div class="col-12 col-md-6 mt-5 img-position">
                <h2 class="text-uppercase text-center h3 titulo borde-servicios text-white">Neuropediatría</h2>
                <img src="assets/img/info/servicios/neuropediatria.jpg" alt="Neuropediatría" class="img-info">
            </div>
        </div>
        <div class="col-12 col-md-6 mt-5">
            <p>El marco de acción del neuropediatra es amplio y aborda las patologías durante el desarrollo, patologías estructurales
            (ya sean adquiridas o genéticas), problemas en el aprendizaje y en el comportamiento, dolores de cabeza, entre otros.</p>

            <p>Existen patologías de alto impacto social y biológico como la epilepsia, casos de parálisis cerebral, tumores
            cerebrales, trastornos severos en la conducta con agresividad e hiperactividad extrema; otras condiciones con
            manifestaciones clínicas menos impactantes a nivel social y biológico, pero no por eso menos importantes, como los
            problemas de aprendizaje, trastornos del desarrollo, discapacidad cognitiva, autismo, entre otros.</p>
        </div>
</section>