<!-- ¿QUIÉNES SOMOS?-->
<section class="container down-footer">
    <div class="row">
        <div class="col-12 col-md-6 mt-5 img-position">
            <h2 class="text-uppercase text-center h3 titulo borde-nosotros text-white">¿QUIÉNES SOMOS?</h2>
            <img src="assets/img/galeria/quienes-somos.jpg" class="img-info" alt="¿Quiénes somos?">
        </div>

        <div class="col-12 col-md-6 mt-5">
            <p>La IPS NEUROIMAGENES S.A empezó sus servicios en 1995
                por lo cual ya cuenta con más de 25 años de presencia y
                trayectoria en el sector salud.</p>

            <p>Desde el comienzo de sus actividades brinda consultas de 
               especialidad como neurología, neurocirugía, neuropsicología
               y neuropediatría. Además realiza exámenes de imágenes diagnosticas
               como electroencefalogramas, videotelemetría y polisomnografias.</p>
        </div>

    </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 ">
                 <p>Con el transcurso de los años se ha incorporado con nuevas
                    especialidades como fisiatría y exámenes de electrofisiología,
                    con el objetivo de proveer a los pacientes una atención integral
                    a sus necesidades. Cuenta con un excelente grupo humano el cual
                    se capacita en forma permanente a fin de estar actualizado en 
                    los cambios e innovaciones tecnológicas que se presentan en su
                    ámbito.</p>

                <p>El objetivo principal es lograr una permanente mejora en sus actividades
                    a fin de dar un servicio que asegure una atención oportuna, amable y de
                    alta calidad. El cumplimiento de las pautas mencionadas obliga a un estricto
                    cumplimiento del manual de garantía calidad y procedimientos a fin de lograr
                    como meta final una satisfacción plena de sus pacientes.</p>
            </div>
    </div>
</section>