<!-- NEUROPSICOLOGÍA -->
<section class="container down-footer">
    <div class="row justify-content-md-center">
        <div class="col-12 text-center">
            <h2 class="text-uppercase h3 titulo azul">Neuropsicología</h2>
            <p>«Es una rama de la Neurociencia que estudia las relaciones entre el cerebro y la conducta tanto en sujetos sanos como en
            los que han sufrido algún tipo de daño cerebral. Su objeto de estudio es el conocimiento de las bases neurales de los
            procesos mentales complejos.»</p>
        </div>
    </div>

    <div class="container mt-2">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6">
                <p>La frase clave que nos va a dar la pista sobre lo que trabaja en neuropsicologia es “procesos mentales superiores”. ¿A
                que nos estamos refiriendo con esta frase?. La neuropsicología estudia las bases neuroanatómicas en relación a los
                procesos mentales como: atención, memoria, lenguaje, percepción, praxias, funciones ejecutivas y emoción. Y cómo todo
                unido, nos hace ser quiénes somos y cómo nos enfrentamos al mundo.</p>
            </div>

            <div class="col-lg-6 col-md-6">
                En el caso que ya hemos mencionado “el hombre que confundió a su mujer con un sombrero” podemos entender que hay un
                funcionamiento anormal en la percepción visual. Y ver cómo en un cerebro con alteración, no es capaz de integrar y da
                sentido a la información que nos llega para conseguir, en este caso, reconocer una cara. Otro caso importante fue el
                descubrimiento del área responsable del lenguaje expresivo, es decir que podamos hablar. Personas con una lesión en el
                área de Broca (tercera circunvolución frontal del hemisferio izquierdo) eran incapaces de hablar, sin tener ninguna
                alteración en la musculatura que les dificultara o impidieran realizar los movimientos.
            </div>
        </div>
    </div>

    <div class="container mt-5">
            <div class="row justify-content-md-center">
        <div class="col-12 text-center">
            <h2 class="subtitulo text-uppercase h3">En NEUROIMÁGENES manejamos tres pruebas:</h2>
        </div>
    </div>

    <!-- Cards -->
        <!-- Card Prueba administración neuropsicológica -->
        <div class="row d-flex justify-content-md-center">
        <article class="col-lg-4 col-md-6 mb-3 mb-md-0">
            <div class="card">
                <img src="assets/img/cards/servicios/prueba-administracion-neuropsicologica.jpeg" alt="Prueba Administración Neuropsicológica">
                <button routerLink="/prueba-administracion-neuropsicologica" class="btn btn-light px-1 titulo text-uppercase">Saber más</button>
            </div>
        </article>

        <!-- Card Prueba Cognitiva -->
        <article class="col-lg-4 col-md-6 mb-3 mb-md-0">
            <div class="card">
                <img src="assets/img/cards/servicios/prueba-cognitiva.jpeg" alt="Prueba Cognitiva">
                <button routerLink="/prueba-cognitiva" class="btn btn-light px-1 titulo text-uppercase">Saber más</button>
            </div>
        </article>

        <!-- Card Prueba Inteligencia -->
        <article class="col-lg-4 col-md-6 mb-3 mb-md-0 mb-0 mt-md-3 mt-lg-0 ">
            <div class="card">
                <img src="assets/img/cards/servicios/prueba-inteligencia.jpeg" alt="Prueba Inteligencia">
                <button routerLink="/prueba-inteligencia" class="btn btn-light px-1 titulo text-uppercase">Saber más</button>
            </div>
        </article>
    </div>
    </div>
</section>
