<!-- Footer -->
<footer class="bg-white text-black py-4">
    <div class="container">
        <nav class="row justify-content-center">
            <!-- Logo -->
            <h3 href="#" class="titulo col-12 col-md-3 text-reset d-flex align-items-center justify-content-center mb-md-0 logo">
                <img src="assets/img/logo-neuro.png" alt="Logo Neuroimágenes" routerLink="/" class="img-logo mr-2">
            </h3>
            <!-- Accesos rápidos-->
            <ul class="col-5 col-md-3 list-unstyled">
                <li class="font-weight-bold text-uppercase ">Accesos Rápidos</li>
                <li><a routerLink="/servicios-resumen" class="nav-link">Servicios</a></li>
                <li><a routerLink="/nosotros-resumen" class="nav-link">Nosotros</a></li>
                <li><a routerLink="/contactenos" class="nav-link">Contáctenos</a></li>
            </ul>
            <!-- Contáctenos -->
            <ul class="col-5 col-md-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">Contáctenos</li>
                <li>Calle 3 norte No. 16-17 - Barrio Nueva Cecilia.</li>
                <li>7362592 <strong>(PBX)</strong></li>
                <li>321 777 6156 <strong>(WHATSAPP)</strong> </li>
            </ul>
            <!-- Redes Sociales -->
            <ul class="col-lg-3 col-md-3 list-unstyled">
                <li class="font-weight-bold text-uppercase social-title">redes sociales</li>
                <li class="d-flex justify-content-between col-lg-5 ml-1 mt-1">
                <!-- FB -->
                <a href="https://web.facebook.com/NeuroImagenesSA" target="_blank" class="text-reset">
                    <i class="fab fa-facebook-f" style="color: rgb(12, 56, 234);"></i>
                </a>
                <!-- IG -->
                <a href="https://www.instagram.com/neuroimagenes/?hl=es-la" target="_blank" class="text-reset">
                    <i class="fab fa-instagram" style="color: rgb(234, 12, 208);"></i>
                </a>
                <!-- TWITTER -->
                <a href="https://twitter.com/NeuroImagenes_" target="_blank" class="text-reset">
                    <i class="fab fa-twitter" style="color: rgb(0, 135, 252);"></i>
                </a>
            </li>
            </ul>
        </nav>
    </div>
</footer>
<!-- Copyright -->
<div class="text-center p-4 text-white second_footer" style="background-color: #292c2f;">
            Copyright © 2022 NEUROIMÁGENES S.A. Todos los derechos reservados | Desarrollado por
        <a class="text-white subtitulo" href="https://jm-portfolio.vercel.app/"  target="_blank">Juan Yate Méndez</a>
</div>
<!-- Copyright -->
