<!-- FISIATRÍA -->
<section class="container down-footer">
        <div class="row">
            <div class="col-12 col-md-6 mt-5 img-position">
                <h2 class="text-uppercase text-center h3 titulo borde-servicios text-white">Fisiatría</h2>
                <img src="assets/img/info/servicios/fisiatria.jpg" alt="Fisiatría" class="img-info">
            </div>
        </div>
        <div class="col-12 col-md-6 mt-5">
            <p>La medicina física y rehabilitación, también llamada fisiatría, es la especialidad médica que enfatiza su trabajo en la
            prevención, diagnóstico y tratamiento de los trastornos, especialmente en los sistemas neurológico, músculo-esquelético
            y cardiopulmonar, que pueden producir una discapacidad temporal o permanente. Uno de sus propósitos es lograr que el
            paciente consiga los máximos niveles posibles de funcionalidad, independencia y calidad de vida.</p>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <p>La medicina de rehabilitación está diseñada para atender las necesidades específicas de cada paciente, por ello, cada
                programa es diferente. Algunos componentes de los programas de rehabilitación que realizan nuestros especialistas son
                los siguientes:</p>
    
                <ul>
                    <li>Tratar la enfermedad básica y prevenir las complicaciones.</li>
                    <li>Tratar la incapacidad y mejorar la funcionalidad.</li>
                    <li>Proporcionar instrumentos adaptativos y modificar el entorno.</li>
                    <li>Enseñar al paciente y su familia y ayudarlos a adaptarse a los cambios en el estilo de vida</li>
                </ul>
        </div>
</section>