<!-- INFORME GESTIÓN-->
<section class="container space">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mt-5 ">
            <h2 class="text-uppercase text-center h3 titulo borde-informes text-white">Informe de gestión 2021</h2>
        </div>

        <div class="row-justify-content-center">
            <div class="col-12 col-md-12 mt-5 justify-content-center">
                <object data="../../../../../assets/img/INFORMES/2021/INFORME DE GESTION  2022.pdf"
                class="pdfview" type="application/pdf"></object>
            </div>
        </div>
    </div>
</section>