<section class="container mt-3 down-footer">
    <div class="row justify-content-md-center">
        <div class="col-12 text-center mt-2">
            <h2 class="text-uppercase h3 titulo azul-opaco">Políticas de participación Social en Salud (PPSS)</h2>
        </div>
    </div>

    <!-- Cards -->
        <!-- Card COVID19 -->
        <div class="container justify-content-md-center ">
            <div class="row">
                <article class="col-lg-4 col-md-4 mb-3 mb-md-0">
                    <div class="card">
                        <img src="assets/img/PPSS/covid19/Covid0.png" alt="Covid19">
                        <button routerLink="/ppss-covid19" class="btn btn-info px-1 text-white titulo text-uppercase font-size">COVID19</button>
                    </div>
                </article>
        

        <!-- Card PLANEACIÓN COVID19 COLOMBIA -->
                <article class="col-lg-4 col-md-4 mb-3 mb-md-3">
                    <div class="card">
                        <img src="assets/img/PPSS/planeacion-nacional-covid19/covid19.png" alt="Planeación COVID19">
                        <button routerLink="/ppss-planeacion-covid19" class="btn btn-info px-1 titulo text-white text-uppercase font-size">VACUNACIÓN NACIONAL COVID19</button>
                    </div>
                </article>

        <!-- Card PROTOCOLOS DE ATENCIÓN DIFERENCIAL -->
                <article class="col-lg-4 col-md-4 mb-3">
                    <div class="card">
                        <img src="assets/img/PPSS/protocolos-atencion-diferencial/discapacidad.png" alt="Atención diferencial">
                        <button routerLink="/ppss-protocolos-atencion-diferencial" class="btn btn-info px-1 text-white titulo text-uppercase font-size">protocolos de atención diferencial</button>
                    </div>
                </article>

                <div class="container">
        <!-- Card DERECHOS Y DEBERES-->
                <div class="row d-flex justify-content-center">
                    <article class="col-12 col-lg-4 col-md-4 mb-3 mb-md-0">
                        <div class="card">
                            <img src="assets/img/PPSS/derechos-deberes/derechos-deberes.png" alt="Derechos y Deberes">
                            <button routerLink="/ppss-derechos-deberes" class="btn btn-info borde-ppss text-white px-1 titulo text-uppercase font-size">Derechos y deberes</button>
                        </div>
                    </article>

                    <article class="col-12 col-lg-4 col-md-4 mb-3 mb-md-0">
                        <div class="card">
                            <img src="assets/img/PPSS/violencia-intrafamiliar/violencia.png" alt="Violencia intrafamiliar">
                            <button routerLink="/ppss-violencia-intrafamiliar" class="btn btn-info borde-ppss text-white px-1 titulo text-uppercase font-size">Violencia intrafamiliar</button>
                        </div>
                    </article>

                    <article class="col-12 col-lg-4 col-md-4 mb-4 col-mb-md-5">
                        <div class="card">
                            <img src="assets/img/PPSS/plan-de-accion/plan-de-accion.jpeg" alt="Planes de acción">
                            <button routerLink="/ppss-plan-de-accion" class="btn btn-info borde-ppss text-white px-1 titulo text-uppercase font-size">PLAN DE ACCIÓN 2022</button>
                        </div>
                    </article>
                </div>
                </div>
            </div>
        </div>

</section>