<!-- RESUMEN DE LA SECCIÓN DE NOSOTROS -->
<section class="container down-footer">
    <div class="row justify-content-md-center">
        <div class="col-12 text-center">
            <h2 class="text-uppercase h3 titulo azul-opaco">SObre nosotros</h2>
        <p class="text-muted">
            Conoce sobre la historia de nuestra IPS, nuestros servicios, principios y sobre
            nuestro excelente equipo de profesionales.
        </p>
        </div>


    <!-- Cards -->
        <!-- Card ¿Quiénes somos? -->
        <article class="col-lg-4 col-md-6 card-effect mb-3">
            <div class="card">
                <img src="assets/img/cards/nosotros/quienes-somos.jpeg" alt="¿Quiénes somos?" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column
                            justify-content-center text-center">
                    <p class="text-black d-none d-md-block">La IPS <strong>NEUROIMAGENES S.A</strong> empezó
                    sus servicios en 1995 por lo cual ya cuenta con más de 25 años de presencia y trayectoria en el sector salud...</p>
                <button class="btn btn-dark px-1 text-capitalize 
                             mx-auto titulo" routerLink="/quienes-somos">Saber más</button>
                </div>
            </div>
        </article>

        <!-- Card Misión y Visión-->
        <article class="col-lg-4 col-md-6 card-effect mb-3">
            <div class="card">
                <img src="assets/img/cards/nosotros/mision-vision.jpeg" alt="Misión & Visión" class="card-img.card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <p class="d-none d-md-block">Prestar servicios de apoyo ambulatorio, diagnóstico y terapéutico con el más
                    alto nivel ético, científico y técnico de manera que superemos...</p>
                    <button class="btn btn-light px-1 text-capitalize mx-auto titulo" routerLink="/mision-vision">Saber más</button>    
                </div>
            </div>
        </article>



        <!-- Card Instalaciones -->
        <article class="col-lg-4 col-md-6 card-effect mb-3">
            <div class="card">
                <img src="assets/img/cards/nosotros/instalaciones.jpeg" alt="Instalaciones" class="card-img.card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <p class="d-none d-md-block">Nuestra clínica ubicada en la Calle 3 N #16-17 Nueva Cecilia, en Armenia, Quindío;
                         cuenta con una infraestructura especialmente diseñada para otorgar a cada paciente...</p>
                    <button class="btn btn-light px-1 text-capitalize mx-auto titulo"
                        routerLink="/instalaciones">Saber más</button>
                </div>
            </div>
        </article>


        <!-- Card Equipo Humano -->
        <article class="col-lg-4 col-md-6 card-effect mb-3">
            <div class="card">
                <img src="assets/img/cards/nosotros/equipo-humano.jpeg" alt="Equipo Humano" class="card-img.card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <p class="d-none d-md-block">Nuestro equipo humano cuenta con una probada experiencia, 
                        formado en las mejores universidades, amables y responsables...</p>
                    <button class="btn btn-light px-1 text-capitalize mx-auto titulo"
                        routerLink="/equipo-humano">Saber más</button>
                </div>
            </div>
        </article>


        <!-- Card PPSS -->
        <article class="col-lg-4 col-md-6 card-effect mb-3">
            <div class="card">
                <img src="assets/img/cards/nosotros/ppss.jpeg" alt="PPSS" class="card-img.card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <p class="d-none d-md-block">Políticas de Participación Social en Salud...</p>
                    <button class="btn btn-light px-1 text-capitalize mx-auto titulo"
                        routerLink="/ppss">Saber más</button>
                </div>
            </div>
        </article>


        <!-- Card Informes -->
        <article class="col-lg-4 col-md-6 card-effect mb-3">
            <div class="card">
                <img src="assets/img/cards/nosotros/informes.jpeg" alt="Informes" class="card-img.card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                    <p class="d-none d-md-block">En esta sección podremos encontrar el conjunto
                         de estados financieros del año 2021...
                    </p>
                    <button class="btn btn-light px-1 text-capitalize mx-auto titulo"
                        routerLink="/informes-resumen">Saber más</button>
                </div>
            </div>
        </article>
    </div>
</section>